#navbar-wrapper,
#games-icon-button {
  background-color: cadetblue;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

#games-icon-button {
  font-size: 60px;
  align-items: center;
  padding-left: 10px;
}

.navbar-buttons {
  margin: 10px;
}
